<h2>All your ingredients!</h2>
<ul>
<% @ingredients.each do |ingredient| %>
<li><%= ingredient.name %>
</li>
<br>
<%= link_to 'edit', edit_ingredient_path(ingredient) %>
<br>
<%= link_to 'delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<% end %>
</ul>
<%= link_to 'Home', recipes_path %>
<br>
