<h2>All your ingredients!</h2>
<ol>
<% @ingredients.each do |ingredient| %>
<li><h4><%= link_to ingredient.name, ingredient_path(ingredient) %></h4>
</li>
<br>
<%= link_to 'edit', edit_ingredient_path(ingredient) %> |

<%= link_to 'delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<% end %>
</ol>
<%= link_to 'Home', recipes_path %>
<br>
